.single-card{
    text-align: left;
    padding: 20px;
    background-color: rgba(106, 142, 35, 0.301);
    border-radius: 10px;
    
    transition: 1s;
   
    
}
.single-card:hover{
    background-color:rgba(93, 129, 21, 0.329);
    transform: scale(1.03);
    transition: .5s;
  
}
img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
button{
    border:none;
    border-radius: 5px;
    font-size:18px;
    color: #ddd;
    padding:10px 50px;
    background-color: rgba(59, 92, 25, 0.623);
    cursor: pointer;
    transition:1s;
}
button:hover{
    transition:.3s;
    transform: scale(1.0);
}