.cost{
   
    border: 3px solid grey;
    border-radius: 8px;
    text-align: left;
    padding-left:5px;
    max-height:500px;
}
.cost h1{
    margin: 0px;
}
.cost p{
    margin: 0px;
}
.h2{
    color: #dddd;
    margin: 5px;
    
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 5px;
}